################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/01 - Basic Operations/PnPBasicOperations/PnPBasicOperations/obj/Debug
/01 - Basic Operations/PnPBasicOperations - Starter/PnPBasicOperations/obj/Debug
/02 - Authentication Manager/PnPAuthenticationManager/PnPAuthenticationManager/bin/Debug
/02 - Authentication Manager/PnPAuthenticationManager/PnPAuthenticationManager/obj/Debug
